In [1]:
import pandas as pd

df=pd.read_csv('../Data/merged_df_exploration.csv')

print("Shape of the dataset is:", df.shape)
print("\nColumn types and non-null counts:")
print(df.info())

print("\nFirst of few rows:")
display(df.head())

Shape of the dataset is: (160826, 15)

Column types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160826 entries, 0 to 160825
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   brand        160826 non-null  object
 1   model        160826 non-null  object
 2   cnit         160826 non-null  object
 3   power_hp     160770 non-null  float64
 4   power_admin  160826 non-null  int64
 5   gearbox      160826 non-null  object
 6   cons_urban   160588 non-null  float64
 7   cons_extra   160588 non-null  float64
 8   cons_mixed   160667 non-null  float64
 9   co2          160667 non-null  float64
 10  fuel         160826 non-null  object
 11  hybrid       160826 non-null  object
 12  mass_min     160826 non-null  int64
 13  mass_max     160826 non-null  int64
 14  Year         160826 non-null  int64
dtypes: float64(5), int64(4), object(6)
memory usage: 18.4+ MB
None

First of few rows:

,brand,model,cnit,power_hp,power_admin,gearbox,cons_urban,cons_extra,cons_mixed,co2,fuel,hybrid,mass_min,mass_max,Year
0,Alfa Romeo,GIULIETTA,M10ALFVP0000324,85.0,7,M 6,8.4,5.3,6.4,149.0,ES,NON,1355,1355,2012
1,Alfa Romeo,MITO,M10ALFVP0000360,62.0,4,M 6,4.9,3.8,4.2,98.0,ES,NON,1205,1205,2012
2,Alfa Romeo,GIULIETTA,M10ALFVP0001325,85.0,7,M 6,8.4,5.3,6.4,149.0,ES,NON,1355,1355,2012
3,Alfa Romeo,MITO,M10ALFVP0002035,77.0,6,M 6,7.6,4.8,5.8,136.0,ES,NON,1185,1185,2012
4,Alfa Romeo,GIULIETTA,M10ALFVP0002326,120.0,9,M 6,7.8,4.6,5.8,134.0,ES,NON,1365,1365,2012

In [2]:
missing_counts=df.isnull().sum()
missing_percent=(missing_counts / len(df))*100
missing_df=pd.DataFrame({
    "Missing Count": missing_counts,
    "Missing %": missing_percent
})
print(missing_df[missing_df["Missing Count"] > 0])

            Missing Count  Missing %
power_hp               56   0.034820
cons_urban            238   0.147986
cons_extra            238   0.147986
cons_mixed            159   0.098865
co2                   159   0.098865

In [3]:
df = df.dropna().reset_index(drop=True)
print(f"Remaining rows after dropping missing values: {df.shape[0]}")

Remaining rows after dropping missing values: 160588

In [4]:
df['avg_mass'] = (df['mass_min'] + df['mass_max']) / 2

df['power_to_weight'] = df['power_hp'] / df['avg_mass']

import numpy as np
df['log_co2'] = np.log1p(df['co2'])  

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160588 entries, 0 to 160587
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   brand            160588 non-null  object
 1   model            160588 non-null  object
 2   cnit             160588 non-null  object
 3   power_hp         160588 non-null  float64
 4   power_admin      160588 non-null  int64
 5   gearbox          160588 non-null  object
 6   cons_urban       160588 non-null  float64
 7   cons_extra       160588 non-null  float64
 8   cons_mixed       160588 non-null  float64
 9   co2              160588 non-null  float64
 10  fuel             160588 non-null  object
 11  hybrid           160588 non-null  object
 12  mass_min         160588 non-null  int64
 13  mass_max         160588 non-null  int64
 14  Year             160588 non-null  int64
 15  avg_mass         160588 non-null  float64
 16  power_to_weight  160588 non-null  float64
 17  log_co2          160588 non-null  float64
dtypes: float64(8), int64(4), object(6)
memory usage: 22.1+ MB

In [5]:
df.describe()

,power_hp,power_admin,cons_urban,cons_extra,cons_mixed,co2,mass_min,mass_max,Year,avg_mass,power_to_weight,log_co2
count,160588.000000,160588.000000,160588.00000,160588.000000,160588.000000,160588.000000,160588.000000,160588.000000,160588.000000,160588.000000,160588.000000,160588.000000
mean,125.055376,11.018015,9.46060,6.499627,7.581650,195.463036,2057.371267,2197.989987,2013.351826,2127.680627,0.060960,5.256786
std,52.830683,6.076631,2.44993,1.237998,1.645616,40.534143,339.499414,439.035149,0.992475,381.245846,0.029726,0.225341
min,40.000000,3.000000,0.00000,2.600000,1.800000,48.000000,825.000000,825.000000,2012.000000,825.000000,0.026611,3.891820
25%,100.000000,9.000000,8.60000,6.200000,7.100000,181.000000,1976.000000,1985.000000,2013.000000,1976.000000,0.044833,5.204007
50%,120.000000,10.000000,9.50000,6.700000,7.700000,203.000000,2076.000000,2185.000000,2013.000000,2130.500000,0.052852,5.318120
75%,120.000000,11.000000,10.30000,7.100000,8.300000,216.000000,2219.000000,2585.000000,2014.000000,2403.000000,0.066840,5.379897
max,585.000000,81.000000,41.10000,15.900000,24.500000,572.000000,3115.000000,3115.000000,2015.000000,3115.000000,0.373802,6.350886

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160588 entries, 0 to 160587
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   brand            160588 non-null  object
 1   model            160588 non-null  object
 2   cnit             160588 non-null  object
 3   power_hp         160588 non-null  float64
 4   power_admin      160588 non-null  int64
 5   gearbox          160588 non-null  object
 6   cons_urban       160588 non-null  float64
 7   cons_extra       160588 non-null  float64
 8   cons_mixed       160588 non-null  float64
 9   co2              160588 non-null  float64
 10  fuel             160588 non-null  object
 11  hybrid           160588 non-null  object
 12  mass_min         160588 non-null  int64
 13  mass_max         160588 non-null  int64
 14  Year             160588 non-null  int64
 15  avg_mass         160588 non-null  float64
 16  power_to_weight  160588 non-null  float64
 17  log_co2          160588 non-null  float64
dtypes: float64(8), int64(4), object(6)
memory usage: 22.1+ MB

In [7]:
df = df.drop_duplicates()

In [8]:
df.to_csv("../data/cleaned_dataset_final.csv", index=False)